In [3]:
from drawdata import draw_scatter

draw_scatter()

In [4]:
import pandas as pd
pd.read_clipboard(sep=',')

              x           y  z
0    243.985689  228.254884  a
1    263.735290  244.914373  a
2    245.853895  308.149823  a
3    257.403653  287.943149  a
4    219.372931  238.963603  a
..          ...         ... ..
344  383.210728  346.752882  b
345  350.959843  328.740306  b
346  376.015484  338.546710  b
347  393.723072  345.201342  b
348  416.461373  305.489361  b

[349 rows x 3 columns]